@charset "UTF-8";

table, th, td {
  border: 1px solid;
  font-family: "Monaco", monospace;
}

table {
  width: 30%;
  border-collapse: collapse;
  border-color: lightgrey;
}
td {
  text-align: left;
  height: 30px;
}
th {
  text-align: left;
  background: #00c800;
  height: 35px;
  color: white;
}
p.groove {border-style: groove;}